<a href="#">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{monstro.raca}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i>{{monstro.nivel}}</span>
      <span class="place-info-box-detail">{{monstro.arma}}</span>
      <span class="place-info-box-detail">{{monstro.ca}}</span>
    </div>
    <a class="btn btn-primary btn-lg" [routerLink]="['/restaurants']">Ver Restaurantes</a>
  </div>
</a>
